<h1>Edit your profile:</h1>

    <%= form_for @user do |f| %>
        <%= @user.id %>

            <label for="inputEmail">email</label>
            <%= f.email_field :email %>

            <label for="inputPW">password</label>
            <%= f.password_field :password %>

            <button type="submit" class="btn btn-primary">Edit Profile</button>
    <% end %>
