<div class="welcomeMain">

    <div class="welcomeColor">
    </div>


    <div class="welcomeCenter">
        <h1 id="welcomeLogo" class="bgH1">Hi there! :)</h1>
        <h2 id="welcomeLogline" class="bgH1">Let's build a resume.</h2>
    </div>

</div>
