<div class="welcomeMain sections">
    <div class="welcomeColor">
    </div>

    <div class="welcomeCenter">
        <h1 id="welcomeH1" class="bgH1">Welcome!</h1>
        <h2 id="welcomeLogline" class="bgH1">
        We're going to need some info to help build your resume.</h2>
        <div class="bulletin">
        <h2 id="welcomeLogline" class="bgH1">FYI: You own your info, so when you delete it, it's deleted. Period.</h2>
        </div>
    </div>
</div>

<div class="testing sections">

    <h1>Basic info!</h1>

</div>
