// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.bgMain {
    height: 100vh;
    width: 100vw;
    background: #ffffff image-url('main/bg.jpg') no-repeat center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

}

div.bgColor {
    height: 100vh;
    width: 100vw;
    background-color: dodgerblue;
    opacity: .8;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

div.bgCenter {
    position: absolute;
    z-index: 2;
    margin: 0;
    width: 100%;
    border: 0px solid black;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.bgH1{
    font-family: "jaf-facitweb",sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

#bgLogline {
    font-size: 3em;
    font-weight: 300;
}

#bgLogo {
    font-size: 6em;
    font-weight: 900;
    margin: 0 0 20px 0;
}

div#bgLogin {
    margin-top: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
}

div.bgSignin {
    z-index: 3;
    position: absolute;
    right: 20px;
    top: 20px;
}