.sections {
    height: 100vh;
    width: 100vw;
}


.welcomeMain {
    background: #ffffff image-url('welcome/bg1.jpg') no-repeat center top;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}

.testing {
    position: relative;
}

div.welcomeColor {
    height: 100vh;
    width: 100vw;
    background-color: dodgerblue;
    opacity: .2;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

div.welcomeCenter {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 80%;
    border: 0px solid black;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.bgH1{
    font-family: "jaf-facitweb",sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

#welcomeLogline {
    font-size: 3em;
    font-weight: 300;
}

#welcomeH1 {
    font-size: 4em;
    font-weight: 900;
    margin: 0 0 20px 0;
}

div#welcomeLogin {
    margin-top: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
}

div.welcomeSignin {
    z-index: 3;
    position: absolute;
    right: 20px;
    top: 20px;
}

.bulletin {
    background-color: dodgerblue;
    padding: 30px;
    border-radius: 20px;
    color: dodgerblue;
    border: 3px solid #fff;
    margin: 30px 0 0;
}